/* Remove weird stuff */

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
img,
ol,
ul,
li,
embed,
table,
tr,
th,
input,
span {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


}
ol,
ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Custom Font */
@font-face {
    font-family: Entypo;
    src: url('/font/entypo.ttf');
}

/* Font reference guide
    Attributed to Entypo pictograms by Daniel Bruce — www.entypo.com 
    Please See entypo.htm for full font reference.
*/

/* Main Page Settings*/
html,
body,
div {
    background: beige;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}

/*Menubar and logo */
.header {
    height: 80px;
    width: 100%;
    color: white;
    border: 0px solid #CCC;
    margin: 0px auto;
    color: white;
    font-size: 20px;
    clear: both;
    position: fixed;
}
.mheader {
    height: 80px;
    width: 100%;
    color: white;
    border: 0px solid #CCC;
    margin: 0px auto;
    color: white;
    font-size: 20px;
    clear: both;
}
.menubar {
    height: 35px;
    width: 100%;
    background: green;
}
.banner {
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 40px;
    float: top;
}

/* Logo and animation for logo */
h1 {
    animation: color-change 3s infinite;
    text-shadow: -4px 1px darkgreen;
}
@keyframes color-change {
    0% {
        color: green;
    }
    
    50% {
        color: limegreen;
    }
    
    100% {
        color: green;
    }
}

/* Menubar */
li {
    display: inline-block;
    line-height: 100%;
    background: green;
    text-decoration: none;
    height: 100%;
    margin: 0px;
    border: 0px;
}
a,
a:visited {
    text-decoration: none;
    color: white;
}
.contact {
    line-height: 35px;
    float: right;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}
.contact:hover {
    background: limegreen;
    color: white;
}
.search {
    float: left;
    width: 80%;
    line-height: 35px;
    display: table-cell;
    vertical-align: middle;
}
.mobsearch {
    display: block;
    background-color: green;
    margin: auto;
    padding: 10px;
}
.backbar {
    float: left;
    height: 100%;
    line-height: 35px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
.backbar:hover {
    background-color: limegreen;
}

/* Search box and animation */
.mobsearchbox {
    display: block;
    margin: auto;
    height: 40px;
    width: 500;
}
.searchbox {
    margin-left: 20px;
    margin-top: 5px;
    height: 25px;
    width: 150px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.searchbox:focus {
    width: 100%;
}

/* Main body of page */
.content {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    clear: both;
}

/*left frame */
.fullarticle {
    overflow-y: scroll;
    overflow-x: hidden;
    float: left;
    margin-top: 100px;
}
.newsfeed {
    overflow-y: scroll;
    overflow-x: hidden;
    float: left;
    margin-top: 100px;
    margin-right: 250px;
}
.mobnewsfeed {
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 20px;
}

/* right frame */
.calander {
    width: 237px;
    position: fixed;
    margin-left: 100%;
    margin-top: 100px;
}
.mcalander {
    width: 237px;
    margin: auto;
    display: block;
}

/* Calender Table */
.mtsearch {
    width: 237px;
    text-align: center;
    background: green;
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    border-spacing: 4px;
    margin: 30px;
}
.tsearch {
    width: 237px;
    text-align: center;
    background: green;
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    border-spacing: 4px;
    transform: translateX(-110%);
    margin-left: 20px;
}
a.tsearch {
    background: limegreen;
}
#ttitle {
    text-align: center;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
th {
    padding: 4px;
}
.tlink {
    background-color: limegreen;
}

/* Main News Feed Presentation */
.article {
    font-size: 14px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div.article {
    padding-bottom: 50px;
}
.imgdiv {
    padding-left: 10px;
    padding-right: 10px;
    float: right;
    margin-bottom: 20px;
}
.aimgdiv {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}
.ateaservid {
    width: 560px;
    height: 316px;
}
.teaservid {
    width: 300px;
    height: 150px
}
h2.article {
    font-family: Impact;
    font-size: 20px;
    background: green;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px
}
h3.article {
    padding-top: 0px;
    float: left;
    font-size: 10px;
    color: grey;
}
h4.article {
    padding-top: 0px;
    font-size: 10px;
    color: grey;
}
p.article {
    padding-top: 10px;
}

/* Article Back Buttons */
.back {
    float: left;
    background: green;
    color: white;
    border: 4px solid;
    border-radius: 25px;
    border-color: green;
}
.back:hover {
    background: limegreen;
    border-color: limegreen;
}
.backbox {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 15px;
}

/* Article Readmore buttons */
.readmore {
    float: right;
    background: green;
    color: white;
    border: 4px solid;
    border-radius: 25px;
    border-color: green;
}
.readmore:hover {
    background: limegreen;
    border-color: limegreen;
}

/* Social Media Section */
.social {
    background: green;
    float: right;
    width: 237px;
    text-align: center;
    position: fixed;
    margin-top: 100%;
    margin-left: 20px;
    bottom: 10px;
    margin-right: 10px;
    display: inline-block;
    transform: translateY(-100%);
    transform: translateX(-110%);
}
.socialbutton {
    display: inline-block;
    font-family: Entypo;
    font-size: 25px;
    background: green;
    color: white;
    text-align: center;
    margin: 20px;
}
.socialbutton:hover {
    background: limegreen;
}

/* Mobile Drop Down Menu */
.mobmen {
    position: relative;
    display: inline-block;
    width: 100%;
    background: green;
    height: 35px;
}
.mobmenu {
    float: left;
    text-align: left;
    padding-top: 5px;
    color: white;
    background: green;
    padding-top: 5px;
    padding-left: 5px;
    display: inline-block;
    width: 80%;
}
.menubutton {
    display: inline-block;
    float: left;
    width: 25px;
    font-family: Entypo;
    font-size: 25px;
    background: green;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-left: 10px;
    position: relative;
}
.dropbtn {
    display: none;
    float: left;
    width: 100%;
    background-color: green;
    color: white;
    padding: 16px;
    font-size: 16px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}
.mobmen:hover>.dropbtn {
    display: inline-block;
}
.dropbtn:hover,
{
    background-color: limegreen;
}
.mobmenitem {
    padding-top: 15px;
}
.mobmensocial {
    font-family: Entypo;
    font-size: 25px;
    padding-right: 10px;
}